<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
      <!-- bean definitions here --> 
    <bean id="familyCar" class="com.codingNinjas.carDealership.FamilyCar" />
    <bean id="sportsCar" class="com.codingNinjas.carDealership.SportsCar" />
    <bean id="truck" class="com.codingNinjas.carDealership.Truck" />

</beans>